Repository dotnet/corefxlab, pull requests merged in 2018-10, with the labels that each got.

#2518 Add rich error messaging and re-entrant support for multi-segment json
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader.cs
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_search.cs
  src/System.Buffers.ReaderWriter/System/ThrowHelper.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderState.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/System.Buffers.ReaderWriter.Tests/Reader_ReadTo.cs
  tests/System.Buffers.ReaderWriter.Tests/Reader_Rewind.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
Labels: area-System.Text.Json

#2526 Remove .NET Core 1.0 from build.sh
  build.sh
  scripts/build.ps1
  scripts/install-dotnet.ps1
  scripts/install-dotnet.sh
Labels: area-Infrastructure

#2528 Validate JSON string once we find the end of string
  src/System.Text.JsonLab/ExceptionStrings.Designer.cs
  src/System.Text.JsonLab/ExceptionStrings.resx
  src/System.Text.JsonLab/System/Text/Json/JsonConstants.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderHelper.cs
  src/System.Text.JsonLab/System/Text/Json/JsonThrowHelper.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/Benchmarks/System.Text.JsonLab/ValidateStringThresholdPerf.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
Labels: area-System.Text.Json

#2531 Add support for allowing comments within Json while reading
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader.cs
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_search.cs
  src/System.Text.JsonLab/ExceptionStrings.Designer.cs
  src/System.Text.JsonLab/ExceptionStrings.resx
  src/System.Text.JsonLab/System/Text/Json/InternalJsonTokenType.cs
  src/System.Text.JsonLab/System/Text/Json/JsonConstants.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderHelper.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderState.cs
  src/System.Text.JsonLab/System/Text/Json/JsonThrowHelper.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/System.Buffers.ReaderWriter.Tests/Reader_ReadTo.cs
  tests/System.Buffers.ReaderWriter.Tests/Reader_Rewind.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
Labels: area-System.Text.Json

#2532 Add convenience helpers to convert to .NET types and tweak APIs
  src/System.Text.JsonLab/System/Text/Json/JsonParser.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderException.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderState.cs
  src/System.Text.JsonLab/System/Text/Json/NumberType.cs
  src/System.Text.JsonLab/System/Text/Json/SpanExtensions.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/System.Text.JsonLab.Tests/BufferSegment.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
  tests/System.Text.JsonLab.Tests/TestCaseType.cs
Labels: area-System.Text.Json

#2538 Add JsonReaderOptions to support skipping comments + other API tweaks
  src/System.Text.JsonLab/System/Text/Json/InternalResult.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderException.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderHelper.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderOptions.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderState.cs
  src/System.Text.JsonLab/System/Text/Json/SpanExtensions.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
Labels: area-System.Text.Json

#2539 Remove SpanExtensions and replace with GetValueAsX instance methods
  src/System.Text.JsonLab/System/Text/Json/SpanExtensions.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
Labels: area-System.Text.Json

#2540 Add JsonReaderOption to track position by UTF-8 code points
  src/System.Text.JsonLab/System/Text/Json/JsonReaderOptions.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
Labels: area-System.Text.Json

#2544 Add benchmark to test multi-segment reading using span-based JsonReader
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderMultiSegmentPerf.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/System.Text.JsonLab.Tests.csproj
Labels: area-System.Text.Json

#2546 Build MultiSegment support on top of SingleSegment within the same JsonReader type
  src/System.Text.JsonLab/System/Text/Json/JsonReaderState.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderSequence.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader_MultiSegment.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderMultiSegmentPerf.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderPerf.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
Labels: area-System.Text.Json

#2549 Optimize TryParse out bool extension method by splitting slow path
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader.cs
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_text.cs
Labels: area-System.Buffers

#2552 Prototype stream wrapper around JsonReader to provide stream support
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderStream.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderPerf.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
Labels: area-System.Text.Json

#2554 Pin System.Memory and System.Buffers to last OOB version and no longer update them
  scripts/update-dependencies/Program.cs
  src/System.Memory.Polyfill/System.Memory.Polyfill.csproj
  tools/dependencies.props
Labels: area-Infrastructure

#2567 Remove JsonReaderOption to track position by UTF-8 code points
  src/System.Text.JsonLab/System/Text/Json/JsonReaderException.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderOptions.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
Labels: area-System.Text.Json

#2569 Grow the pooled buffer exponentially (double) rather than linearly.
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderStream.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
Labels: area-System.Text.Json

#2573 Revert dependencies down to release versions of the packages
  scripts/update-dependencies/Program.cs
  src/System.Buffers.Experimental/System.Buffers.Experimental.csproj
  src/System.Buffers.Experimental/System/Buffers/IPipeWritable.cs
  src/System.Buffers.ReaderWriter/System.Buffers.ReaderWriter.csproj
  src/System.Text.JsonLab/System.Text.JsonLab.csproj
  src/System.Text.JsonLab/System/Text/Json/JsonObject.cs
  src/System.Text.JsonLab/System/Text/Json/JsonThrowHelper.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  tests/System.Text.JsonLab.Dynamic.Tests/System.Text.JsonLab.Dynamic.Tests.csproj
  tests/System.Text.JsonLab.Tests/ReadFromPipeTests.cs
  tests/System.Text.JsonLab.Tests/System.Text.JsonLab.Tests.csproj
  tools/dependencies.props
Labels: area-Infrastructure

#2574 Return ReadOnlySequence slice as value instead of single-segment span
  src/System.Text.JsonLab.Dynamic/System/Text/Json/JsonDynamicObject.cs
  src/System.Text.JsonLab.Dynamic/System/Text/Json/JsonSerializer.cs
  src/System.Text.JsonLab/System/Text/Json/InternalNumberResult.cs
  src/System.Text.JsonLab/System/Text/Json/JsonThrowHelper.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.MultiSegment.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderSequence.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderStream.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderMultiSegmentPerf.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderPerf.cs
  tests/System.Text.JsonLab.Tests/JsonParserTests.cs
  tests/System.Text.JsonLab.Tests/JsonReaderStreamTests.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
  tests/System.Text.JsonLab.Tests/ReadFromPipeTests.cs
Labels: area-System.Text.Json

#2577 Address JsonReader API review feedback
  src/System.Text.JsonLab.Dynamic/System/Text/Json/JsonDynamicObject.cs
  src/System.Text.JsonLab.Dynamic/System/Text/Json/JsonSerializer.cs
  src/System.Text.JsonLab/System/Text/Json/CustomStack.cs
  src/System.Text.JsonLab/System/Text/Json/JsonParser.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderException.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderOptions.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReaderState.cs
  src/System.Text.JsonLab/System/Text/Json/JsonThrowHelper.cs
  src/System.Text.JsonLab/System/Text/Json/JsonTokenType.cs
  src/System.Text.JsonLab/System/Text/Json/JsonUtf8Reader.MultiSegment.cs
  src/System.Text.JsonLab/System/Text/Json/JsonUtf8Reader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8Json.Reader.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8Json.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderSequence.cs
  src/System.Text.JsonLab/System/Text/Json/Utf8JsonReaderStream.cs
  tests/Benchmarks/System.Text.JsonLab/Comparison/JsonReader/JsonReaderComparison.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderMaxDepthPerf.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderMultiSegmentPerf.cs
  tests/Benchmarks/System.Text.JsonLab/JsonReaderPerf.cs
  tests/Benchmarks/System.Text.JsonLab/ValidateStringThresholdPerf.cs
  tests/System.Text.JsonLab.Tests/HeapableJsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonParserTests.cs
  tests/System.Text.JsonLab.Tests/JsonReaderStreamTests.cs
  tests/System.Text.JsonLab.Tests/JsonReaderTests.cs
  tests/System.Text.JsonLab.Tests/JsonTestHelper.cs
  tests/System.Text.JsonLab.Tests/ReadFromPipeTests.cs
Labels: area-System.Text.Json
