Repository dotnet/corefxlab, pull requests merged in 2018-08, with the labels that each got.

#2409 API improvements and bug fixes
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Bme280.cs
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Program.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioController.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioExtensions.cs
  src/System.Devices.Gpio/System.Devices.Gpio/I2cExtensions.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Pin.cs
  src/System.Devices.Gpio/System.Devices.Gpio/PinNumberingScheme.cs
  src/System.Devices.Gpio/System.Devices.Gpio/RaspberryPiDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/SpiExtensions.cs
  src/System.Devices.Gpio/System.Devices.Gpio/UnixDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/UnixI2CDevice.cs
  src/System.Devices.Gpio/System.Devices.Gpio/UnixSpiDevice.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Utils.cs
Labels: area-System.Devices.Gpio

#2421 Moving Gpio samples project
  corefxlab.sln
  samples/System.Devices.Gpio.Samples/Documentation/Samples Lcd.png
  samples/System.Devices.Gpio.Samples/Documentation/Samples.png
  samples/System.Devices.Gpio.Samples/LcdController.cs
  samples/System.Devices.Gpio.Samples/PressureTemperatureHumiditySensor.cs
  samples/System.Devices.Gpio.Samples/Program.cs
  samples/System.Devices.Gpio.Samples/RgbColorSensor.cs
  samples/System.Devices.Gpio.Samples/System.Devices.Gpio.Samples.csproj
  src/System.Devices.Gpio/.editorconfig
  src/System.Devices.Gpio/Documentation/GPIORef.cs
  src/System.Devices.Gpio/Documentation/GPIOSamples.cs
  src/System.Devices.Gpio/Exceptions/GpioException.cs
  src/System.Devices.Gpio/Exceptions/Interop.Errors.cs
  src/System.Devices.Gpio/GpioController.cs
  src/System.Devices.Gpio/GpioDriver.cs
  src/System.Devices.Gpio/GpioExtensions.cs
  src/System.Devices.Gpio/I2c/I2cConnectionSettings.cs
  src/System.Devices.Gpio/I2c/I2cDevice.cs
  src/System.Devices.Gpio/I2c/I2cExtensions.cs
  src/System.Devices.Gpio/I2c/UnixI2cDevice.cs
  src/System.Devices.Gpio/Pin.cs
  src/System.Devices.Gpio/PinEvent.cs
  src/System.Devices.Gpio/PinMode.cs
  src/System.Devices.Gpio/PinNumberingScheme.cs
  src/System.Devices.Gpio/PinValue.cs
  src/System.Devices.Gpio/PinValueChangedEventArgs.cs
  src/System.Devices.Gpio/Properties/AssemblyInfo.cs
  src/System.Devices.Gpio/RaspberryPiDriver.cs
  src/System.Devices.Gpio/Spi/SpiConnectionSettings.cs
  src/System.Devices.Gpio/Spi/SpiDevice.cs
  src/System.Devices.Gpio/Spi/SpiExtensions.cs
  src/System.Devices.Gpio/Spi/SpiMode.cs
  src/System.Devices.Gpio/Spi/UnixSpiDevice.cs
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/System.Devices.Gpio.Samples.csproj
  src/System.Devices.Gpio/System.Devices.Gpio.csproj
  src/System.Devices.Gpio/System.Devices.Gpio.sln
  src/System.Devices.Gpio/UnixDriver.cs
  src/System.Devices.Gpio/Utils.cs
  src/System.Devices.Gpio/publish.cmd
  src/System.Devices.Gpio/publish_upload.txt
  src/System.Devices.Gpio/unpublish.sh
Labels: area-System.Devices.Gpio

#2422 Optimize TryReadUntil
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_search.cs
  src/System.Text.JsonLab/System/Text/Json/JsonReader.cs
  tests/Benchmarks/System.Buffers/Reader_Search.cs
  tests/System.Buffers.ReaderWriter.Tests/BytesReaderTests.cs
Labels: area-ReaderWriter

#2444 Tag a TODO with an issue number
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/NetStandardBridge.cs
Labels: area-System.Reflection.TypeLoader

#2445 Fix failing test
  tests/System.Reflection.TypeLoader.Tests/src/Tests/CustomAttributes/DllImportTests.cs
Labels: area-System.Reflection.TypeLoader

#2448 Add another issue # to a todo comment.
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/Helpers.cs
Labels: area-System.Reflection.TypeLoader

#2446 Ensure reader default state
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader.cs
  tests/System.Buffers.ReaderWriter.Tests/ReaderBasicTests.cs
  tests/System.Buffers.ReaderWriter.Tests/ReaderBytesTests.cs
Labels: area-System.Buffers

#2449 Remove TypeDelegator hack for netcoreapp2.2 build.
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/NetStandardBridge.cs
  tests/System.Reflection.TypeLoader.Tests/System.Reflection.TypeLoader.Tests.csproj
  tests/System.Reflection.TypeLoader.Tests/src/Tests/CustomAttributes/DllImportTests.cs
Labels: area-System.Reflection.TypeLoader

#2453 General cleanup pass.
  src/System.Reflection.TypeLoader/src/FromCoreRt/CoreRtBridge.cs
  src/System.Reflection.TypeLoader/src/FromCoreRt/System/DefaultBinder.cs
  src/System.Reflection.TypeLoader/src/FromCoreRt/System/Reflection/AssemblyNameHelpers.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.CoreAssembly.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.Disposing.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.KnownConstructors.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.LoadedAssemblyEntry.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.Loading.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.Resolving.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Assemblies/AssemblyFileInfo.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Assemblies/Ecma/EcmaAssembly.GetName.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Assemblies/Ecma/EcmaAssembly.Modules.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Assemblies/Ecma/EcmaAssembly.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/CustomAttributes/CustomAttributeHelpers.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/CustomAttributes/Ecma/EcmaCustomAttributeData.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/CustomAttributes/Ecma/EcmaCustomAttributeHelpers.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/AssemblyNameData.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/CoreType.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/CoreTypes.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/Ecma/EcmaHelpers.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/Ecma/EcmaPinnedTypeProvider.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/Ecma/EcmaResolver.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/Ecma/EcmaToStringHelpers.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/Helpers.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/MethodBase/Ecma/EcmaMethodDecoder.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Methods/RoDefinitionMethod.DllImport.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Methods/RoDefinitionMethod.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Modules/Ecma/EcmaModule.GetTypeCore.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Modules/Ecma/EcmaModule.ManifestResources.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Modules/Ecma/EcmaModule.MetadataTables.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Modules/GetTypeCoreCache.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Modules/RoModule.Unifier.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Modules/RoModule.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Parameters/Ecma/EcmaFatMethodParameter.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Properties/Ecma/EcmaProperty.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Types/Ecma/EcmaDefinitionType.BindingFlags.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Types/Ecma/EcmaDefinitionType.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Types/Ecma/EcmaGenericMethodParameterType.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Types/Ecma/EcmaGenericParameterType.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Types/RoConstructedGenericType.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/Types/RoType.TypeClassification.cs
Labels: area-System.Reflection.TypeLoader

#2454 Added TypeLoader.GetAssemblies() api
  docs/specs/typeloader.md
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.Apis.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.LoadedAssemblyEntry.cs
  src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoader.Loading.cs
  tests/System.Reflection.TypeLoader.Tests/src/Tests/TypeLoader/Dispose.cs
  tests/System.Reflection.TypeLoader.Tests/src/Tests/TypeLoader/GetAssemblies.cs
Labels: area-System.Reflection.TypeLoader
