Repository dotnet/corefxlab, pull requests merged in 2018-07, with the labels that each got.

#2373 Gpio API progress
  .gitignore
  src/System.Devices.Gpio/.editorconfig
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Program.cs
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/System.Devices.Gpio.Samples.csproj
  src/System.Devices.Gpio/System.Devices.Gpio.csproj
  src/System.Devices.Gpio/System.Devices.Gpio.sln
  src/System.Devices.Gpio/System.Devices.Gpio/Documentation/GPIORef.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Documentation/GPIOSamples.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/GpioException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/InvalidEventKindException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/InvalidPinValueException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/NotSupportedEventKindException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/NotSupportedPinModeException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/NotSupportedPinNumberingSchemeException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Extensions.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Pin.cs
  src/System.Devices.Gpio/System.Devices.Gpio/RaspberryPiDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/System.Devices.Gpio.csproj
  src/System.Devices.Gpio/System.Devices.Gpio/UnixDriver.cs
  src/System.Devices.Gpio/publish.cmd
  src/System.Devices.Gpio/publish_upload.txt
  src/System.Devices.Gpio/unpublish.sh
Labels: area-System.Devices.Gpio

#2391 Move planning.md to ../docs/specs/gpio.md
  README.md
  docs/specs/gpio.md
Labels: area-System.Devices.Gpio

#2389 More progress related with Gpio events
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Program.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/InvalidPinEventException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/InvalidPinValueException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/NotSupportedPinModeException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/NotSupportedPinNumberingSchemeException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Exceptions/PinEventNotSupportedException.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioController.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Pin.cs
  src/System.Devices.Gpio/System.Devices.Gpio/RaspberryPiDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/UnixDriver.cs
Labels: area-System.Devices.Gpio

#2304 Fix System.reflecion.metadata.cil to use latest S.R.Metadata package
  src/System.Reflection.Metadata.Cil/CilCustomAttribute.cs
  src/System.Reflection.Metadata.Cil/CilMethodDefinition.cs
  src/System.Reflection.Metadata.Cil/CilProperty.cs
  src/System.Reflection.Metadata.Cil/CilTypeDefinition.cs
  src/System.Reflection.Metadata.Cil/CilTypeReference.cs
  src/System.Reflection.Metadata.Cil/Decoder/CilDecoder.cs
  src/System.Reflection.Metadata.Cil/Decoder/CilTypeProvider.cs
  src/System.Reflection.Metadata.Cil/SignatureDecoder.cs
  src/System.Reflection.Metadata.Cil/System.Reflection.Metadata.Cil.csproj
  tests/System.Reflection.Metadata.Cil.Tests/CilTests.cs
  tests/System.Reflection.Metadata.Cil.Tests/System.Reflection.Metadata.Cil.Tests.csproj
Labels: area-System.Reflection.Metadata.Cil

#2393 Tidy up BufferReader a bit.
  src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader.cs
Labels: area-System.Buffers

#2398 Adding LCD sample and SPI support
  THIRD-PARTY-NOTICES.TXT
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/LiquidCrystal.cs
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Program.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Extensions.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioController.cs
  src/System.Devices.Gpio/System.Devices.Gpio/RaspberryPiDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/SpiConnectionSettings.cs
  src/System.Devices.Gpio/System.Devices.Gpio/SpiDevice.cs
  src/System.Devices.Gpio/System.Devices.Gpio/UnixSpiDevice.cs
Labels: area-System.Devices.Gpio

#2400 Adding Bme280 class and samples using SPI and LCD
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Bme280.cs
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/LiquidCrystal.cs
  src/System.Devices.Gpio/System.Devices.Gpio.Samples/Program.cs
  src/System.Devices.Gpio/System.Devices.Gpio/GpioDriver.cs
  src/System.Devices.Gpio/System.Devices.Gpio/Pin.cs
  src/System.Devices.Gpio/System.Devices.Gpio/PinEvent.cs
  src/System.Devices.Gpio/System.Devices.Gpio/PinMode.cs
  src/System.Devices.Gpio/System.Devices.Gpio/PinNumberingScheme.cs
  src/System.Devices.Gpio/System.Devices.Gpio/PinValue.cs
  src/System.Devices.Gpio/System.Devices.Gpio/PinValueChangedEventArgs.cs
  src/System.Devices.Gpio/System.Devices.Gpio/SpiConnectionSettings.cs
  src/System.Devices.Gpio/System.Devices.Gpio/SpiDevice.cs
  src/System.Devices.Gpio/System.Devices.Gpio/SpiMode.cs
  src/System.Devices.Gpio/System.Devices.Gpio/UnixSpiDevice.cs
Labels: area-System.Devices.Gpio
